.container {
  margin: 50px auto;
  width: 1000px;
  text-align: center;
}
.pokemonImg {
  text-align: center;
  display: inline-block;
  margin: 30px;
  width: 200px;
  max-width: 200px;
}

.text-center {
  text-align: center;
}

.sans-serif {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
